extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-12
      form.form-horizontal(action="", method="post", role="form")
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="lastName") Last name
          .col-xs-12.col-sm-8.col-md-4
            input#lastName.form-control(name="lastName", value="#{student.lastName}")
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="firstName") First name
          .col-xs-12.col-sm-8.col-md-4
            input#firstName.form-control(name="firstName", value="#{student.firstName}")
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="username") Username
          .col-xs-12.col-sm-8.col-md-4
            input#username.form-control(name="username", value="#{student.username}")
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="password") Password
          .col-xs-12.col-sm-8.col-md-4
            input#password.form-control(name="password", value="#{student.password}")
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="birthdate") Birthdate
          .col-xs-12.col-sm-8.col-md-4
            input#birthdate.form-control(type="date", name="birthdate", value="#{birthday}")
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="school") School
          .col-xs-12.col-sm-8.col-md-4
            input#school.form-control(name="school", value="#{student.school}")
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="grade") Grade
          .col-xs-12.col-sm-2.col-md-2
            select#grade.form-control.input-sm(name="grade")
              option= student.grade
              option Pre-K
              option KG
              option 1
              option 2
              option 3
              option 4
              option 5
              option 6
              option 7
              option 8
              option 9
              option 10
              option 11
              option 12
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="disability") Disability
          .col-xs-12.col-sm-8.col-md-4
            input#disability.form-control(name="disability", value="#{student.disability}")
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="race") Race
          .col-xs-12.col-sm-8.col-md-4
            input#race.form-control(name="race", value="#{student.race}")
        .form-group
          label.col-xs-10.col-sm-4.control-label(for="caseManager") Case Manager
          .col-xs-12.col-sm-8.col-md-4
            input#caseManager.form-control(name="caseManager", value="#{student.caseManager}")
        button.btn.btn-default.pull-right(href="/students/#{student._id}/edit}") Edit Student
        a.btn.btn-default.pull-right(href="/students/#{student._id}") Back
