extends layout

block content
  .row.page-header
    .col-xs-12.col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .panel.panel-primary
        .panel-heading
          h2.panel-title Student Info
        .panel-body
          p Password: #{student.password}
          p School: #{student.school}
          p Birthday: #{birth_day}
          p Age: #{age}
          p Disability: #{student.disability}
          p Race: #{student.race}
          p Grade: #{student.grade}
          p Case Manager: #{student.caseManager}
      a.btn.btn-default(href='/students/#{student._id}/edit') Edit
      a.btn.btn-default(href='#', class='delete_user', id='#{student._id}') Delete
      hr
  .row
    .col-xs-12.col-sm-8
      p #{ message }
      table.table.table-bordered.table-hover
        thead
          tr
            td Date
            td Subject
            td Grade level
            td Type
            td Finished?
        tbody
          each test in student.tests
            tr
              td
                a(href='/students/#{student._id}/tests/#{test._id}') #{(new Date(test.date)).toDateString()}
              td
                a(href='/students/#{student._id}/tests/#{test._id}') #{test.subject}
              td
                a(href='/students/#{student._id}/tests/#{test._id}') #{test.gradeLevel}
              td
                a(href='/students/#{student._id}/tests/#{test._id}') #{test.type}
              td
                a(href='/students/#{student._id}/tests/#{test._id}') #{test.finished}
  .row
    a.btn.btn-default(href='/students/#{student._id}/tests/new') Add New Test
