extends layout

block content
  .row.page-header
    .col-xs-12.col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-9
      .panel.panel-primary
        .panel-heading
          h2.panel-title Student Info
        .panel-body
          p Password: #{student.password}
          p School: #{student.school}
          p Birthday: #{birth_day}
          p Age: #{age}
          p Disability: #{student.disability}
          p Race: #{student.race}
          p Grade: #{student.grade}
          p Case Manager: #{student.caseManager}
      a.btn.btn-default(href='/students/#{student._id}/edit') Edit
      a.btn.btn-default(href='/') Delete
      hr
  .row
    .col-xs-12.col-sm-8
      table.table.table-bordered.table-hover
        thead
          tr
            td Subject
            td Grade level
            td Type
            td Finished?
        tbody
          tr
            td
              a(href='/students/#{student._id}/tests/test') writing
            td
              a(href='/students/#{student._id}/tests/test') 8
            td
              a(href='/students/#{student._id}/tests/test') primary
            td
              a(href='/students/#{student._id}/tests/test') yes
          tr
            td
              a(href='/students/student/tests/test/edit') writing
            td
              a(href='/students/student/tests/test/edit') 8
            td
              a(href='/students/student/tests/test/edit') progress report
            td
              a(href='/students/student/tests/test/edit') no
          tr
            td
              a(href='/students/student/tests/test/edit') math
            td
              a(href='/students/student/tests/test/edit') 6
            td
              a(href='/students/student/tests/test/edit') primary
            td
              a(href='/students/student/tests/test/edit') no
  .row
    a.btn.btn-default(href='/students/#{student._id}/tests/new') Add New Test
